
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0.5rem;
    margin-top: 4rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
}


.disabled{
    pointer-events:none;
    opacity: 0.6;
}

/* Login */

.main {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 2rem;
}

.login {
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    border: 3px solid black;
    border-radius: 1.5rem;
}

.admin {
    margin: auto;
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.admin img {
    margin-top: 1.5rem;
    margin-right: 10px;
    padding: 1px;
}

.login-form input{
    margin: 0.5rem;
    padding: 0.5rem;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

/* Main Page */

.admin-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.admin-main li a {
    display: block;
    color: #000;
    text-decoration: none;
}

.admin-main li {
    text-align: center;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
}

/* Change the link color on hover */
.admin-main li a:hover {
    background-color: rgb(248, 195, 160);
    border-radius: 2px;
    color: black;
}

.admin-main .admin-image {
    width: 200px;
    text-align: center;
    border-bottom: 1px solid black;
}

.admin-main .logout {
    margin-top: 10rem;
    width: 90px;
}


/* Admin Contents */

.admin-contents {
    width: 80%;
}

.admin-contents li a {
    display: block;
    color: #000;
    text-decoration: none;
}

.admin-contents li {
    width: 170px;
    list-style-type: none;
    text-align: center;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
}

/* Change the link color on hover */
.admin-contents li a:hover {
    background-color: rgb(248, 195, 160);
    border-radius: 2px;
    color: black;
}

.admin-contents .navbar {
    display: flex;
    justify-content: flex-start;
}

/* Admin Table */

.admin-tables {
    width: 90%;
    margin: auto;
}

.admin-tables .btn {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

.admin-tables button {
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

.admin-tables a {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.admin-select input {
    width: 110px;
    list-style-type: none;
    text-align: center;
    margin: 0.1rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
}

.admin-select input[type="text"] {
    width: 200px;
    padding: 0.2rem;
}


.admin-select select {
    width: 130px;
    text-align: center;
    margin: 1rem;
    padding: 8px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(248, 195, 160);
}

/* Change the link color on hover */
.admin-select input:hover,
.admin-select select:hover {
    background-color: rgb(248, 195, 160);
    border-radius: 2px;
    color: black;
}


.inventory {
    width: 95%;
    margin: auto;
    text-align: center;
}

.inventory th, td {
    border-collapse: separate;
    border: 2px solid rgb(248, 195, 160);
    border-radius: 5px;
    text-align: center;
}

.inventory th {
    background-color: rgb(248, 195, 160);
    color: black;
}

/* Order Form */

.tran-form-card {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tran-form-card .form-card{
    text-align: center;
}


.add-form {
    width: 80%;
    margin: auto;
}

.add-form form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.add-form form select,
.add-form form input,
.add-form form textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

.add-form .btn {
    width: 100px;
}


.filter {
    width: 80%;
    margin: auto;
    display: flex;
}

.admin-filter select, 
.admin-filter input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

.admin-filter input[type="submit"] {
    width: 100px;
}
.admin-filter a {
    text-decoration: none;
    padding: 0.4rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
    color: black;
}

.tran-form {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.tran-form .form-group {
    text-align: left;
    width: 50%;
    margin: auto;
}

.tran-form select,
.tran-form .form-group input,
.tran-form-card input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

.tran-form-card input {
    width: 200px;
}

.tran-form .form-group input {
    margin-left: 1.1rem;
}

.tran-form .form-group input[type="date"] {
    margin-left: 3rem;
}

.tran-form .form-group select {
    margin-left: 2.5rem;
}

.tran-form .btn {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

.tran-form-card .btn {
    margin: 0.5rem;
    padding: 0.2rem;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(248, 195, 160);
    font-weight: bold;
}

.tran-form .buttons-form {
    margin-top: 1rem;
}

.tran-form-card .flex-wrapper {
    width: 20%;
    margin: 1rem;
    text-align: center;
}




/* Card */

.tran-form-card .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* border: 1px solid black; */
    transition: 0.3s;
    width: 120%;
    border-radius: 5px;
    margin: auto;
}

.tran-form-card .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tran-form-card img {
    border-radius: 5px 5px 0 0;
}

.tran-form-card p {
    font-size: 9px;
}


.tran-form-card img {
    max-width: 300px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
}
/* .tran-form .container {
    padding: 2px 16px;
} */
